.blank-box {
			width: 90%;
			margin: 0 auto;
			padding: 0 2% 0 2%;
		}

		.menu {
			background-color: #0b6491;
		}

		.title-thead {
			background-color: rgb(0, 24, 61) !important;
			color: white !important;
			outline-color: gray !important;
		}

		.texto {
			color: white;
		}

		.texto:hover {
			color:gray;
		}

		.text-light:hover {
			cursor: default;
		}

		.pesquisa {
			width: 500px;
			margin: 1.5% auto;
			border-radius: 3px;
		}

		.btn:hover {
			background-color: lightgray;
		}

		.custom-select{
			height:50px;
		}